<!doctype html>
<html>
<head>
    <title>Бронирование мест</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function checkCodeAction(form) {
            $.post("/guest/code", {
                "guest_code": form.val("guest_code")
            }, function(data, status) {
                console.log(data,status);
            });
            return false;
        }
        function createGuestAction(form) {
            $.post("/guest/create", {
                "first_name": form.val("first_name"),
                "last_name": form.val("last_name"),
                "is_vip": form.val("guest_is_vip")
            }, function(data, status,param) {
                console.log(data,status,param);
                if (status == 200) {
                    $("body").html(data);
                } else {
                    $("body").append(status)
                }
            });
            return false;
        }
        function createEvent(form) {
            $.post("/event/create", {
                "event_title": form.val("event_title"),
            }, function(data, status) {
                console.log(data,status,param);
                if (status == 200) {
                    $("body").html(data);
                } else {
                    $("body").append(status)
                }
            });
            return false;
        }
    </script>
</head>
<body>
{{template "content.html" .}}
</body>
</html>