<h3>Бронирование места</h3>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">Введите ваш код для продолжения бронирования</div>
			<div class="panel-body">
				<form onsubmit="return Guest.HandleCode($(this));">
					<div class="form-group">
						<label for="guest_code">Гостевой код</label>
						<input name="guest_code" type="text" class="form-control" id="guest_code"
							   aria-describedby="guest_code_help" placeholder="Введите код">
						<small id="guest_code_help" class="form-text text-muted"></small>
					</div>
					<button type="submit" class="btn btn-primary">Продолжить</button>
				</form>
			</div>
		</div>
	</div>
</div>